$mainbg:peachpuff;
.time{
    background-color:$mainbg;
    width:200px;
    height:300px;
    font-size:27px;
    i{
        margin-top:200px;
        margin-left:10px;
    }
    code{
        font-size:20px;
    }
}
p{
    margin-top:7%;
    font-size:100px;
}